html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
    style
      include style.css
  body
    div.container
      div.jumbotron
        h1 #{__('Hello')}!

        p #{__('Welcome to')} 500
        div.btn-group(data-toggle="buttons")
          each locale, index in locales
            if locale == currentLocale
              label.btn.btn-primary.active #{locale_names[index]}
            else
              label.btn.btn-primary #{locale_names[index]}
                input(type="radio", name="languageOptions", id= locale, autocomplete="off")
      div#chooseNameDiv
        form.form-inline(role="form", id="chooseNameForm")
          div.form-group
            label(for="name", id="nameLabel") #{__('Name')}:
            input.form-control(type="text", id="name", placeholder="Sven" autocomplete="off")
          button.btn.btn-default(type="submit", id="start") #{__('Start')}
      div#content(style="display: none;")
        div#lobby.panel.panel-default
          ul#gamesList.list-plain
          ul.list-plain
            li
              button#newGame.btn.btn-primary #{__('New Game')}
        div#game(style="display: none;")
          div#middle
            div#left
              div#scoreBox.boxedArea
                div#scoreTitle #{__('Scores')}
                div#scores
              div#commonCards
                img#pile.card
                img#pack.card
            div#playedArea
              div#myPlayed.onePlayerPlayedArea.boxedArea
              div#opponentPlayed.onePlayerPlayedArea.boxedArea
          div#hand
          div#controls
            div.btn-group
              button#playSelected.btn.btn-primary(type="button" disabled="true") #{__('Play Selected')}
              button#putToPile.btn.btn-primary(type="button" disabled="true") #{__('Put to Pile')}
            div#gameStatus
          div#advice
        div#chat
          div.panel.panel-default
            div.panel-heading
              h3.panel-title #{__('Chat')}
              div#userList
            div.panel-body
              ul#messages.list-plain
          form#chatForm
            div.input-group
              input#m.form-control(type="text" autocomplete="off")
              span.input-group-btn
                button.btn.btn-default(type="submit") #{__('Send')}
    each script in scripts
      script(type='text/javascript', src= script)
    each script in modules
      script(type='module', src= script)